---
layout: default
---


<div class="main_banner">
	{% for post in site.categories.Design %}
 	<div>
 	<a href="{{ post.url | prepend: site.baseurl }}" class="image fit thumb" itemprop="url">
 		<img src="{{ post.image-sm }}" alt="" />
  	   	<h3 class="header" itemprop="name">{{ post.title }}</h3>
		<p class="excerpt" itemprop="description">{{ post.description }}</p> 
		<p class="date" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y %-m %-d" }}</p>
	</a>	
	</div>
	{% endfor %}
</div>

<script type="text/javascript">
    $(document).ready(function(){
      
		$('.main_banner').slick({
		  slidesToShow: 5,
		  slidesToScroll: 3,
		  responsive: [
		    {
		     	settings: {
			        arrows: true,
			        centerMode: true,
			        centerPadding: '40px',
			        slidesToShow: 3
		      	}
		    }
		    ]
		});
    });
</script>

<!-- Two
<section id="two">
		<h2>Recent Work</h2>
		<div class="post_row">
			{% for post in paginator.posts %}
			<article class="6u 12u$(xsmall) preview" itemprop="blogPost">
				<a href="{{ post.url | prepend: site.baseurl }}" class="image fit thumb" itemprop="url"><img src="{{ post.image-sm }}" alt="" /></a>
				<a href="{{ post.url | prepend: site.baseurl }}" class="txt" itemprop="url">					
					<h3 class="preview__header" itemprop="name">{{ post.title }}</h3>
					<p class="preview__date" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y년 %-m월부터 약 %-d개월 이내 완료" }}</p>
					<p class="preview__excerpt" itemprop="description">{{ post.description }}</p> 
				</a>
				<ul class="preview__category">
					{% for categories in post.categories %}
						<li><a href="/category/{{ categories }}/"># {{ categories }}</a> </li>	    
					{% endfor %}
				</ul>
			</article>
			{% endfor %}					
		</div>
	</section>					
</div>		-->
