---
layout: default
---

<div class="main innerwrap">
		
	{% include banner.html %}

	
	<div class="logo_wrap innerwrap"><div><img src="{{ site.baseurl }}/images/logo_s.png" alt="" /></div></div>

	<section class="recent innerwrap">
	
		<article class="no_01">
			<h1>소중한 오늘하루<br>새로운 순간마다</h1>
			<ul class="tag_box">
				<li><a href="{{ '/category/Diary' | prepend: site.baseurl }}">diary</a></li>
				<li><a href="{{ '/category/Food' | prepend: site.baseurl }}">food</a></li>
				<li><a href="{{ '/category/Date' | prepend: site.baseurl }}">date</a></li>
				<li><a href="{{ '/category/Play' | prepend: site.baseurl }}">play</a></li>
			</ul>
		</article>

		<article class="no_02">
			<h2><a href="{{ '/category/Memory' | prepend: site.baseurl }}">memory</a></h2>
			<ul class="post_box">
				{% for post in site.categories.Memory limit:7 %}
			 	<li><a href="{{ post.url | prepend: site.baseurl }}" class="thumb" itemprop="url">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		</article>

		<article class="no_03">
			<h2><a href="{{ '/category/Moment' | prepend: site.baseurl }}">moment</a></h2>
			<ul class="post_box img_box">
				{% for post in site.categories.Moment limit:1 %}
			 	<li><a href="{{ post.url | prepend: site.baseurl }}" class="thumb" itemprop="url" style="background:url('{{ post.image-sm }}') no-repeat center center; background-size:cover;">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		</article>

		<article class="no_04">
			<h2><a href="{{ '/category/Review' | prepend: site.baseurl }}">review</a></h2>
			<ul class="post_box">
				{% for post in site.categories.Review limit:7 %}
			 	<li><a href="{{ post.url | prepend: site.baseurl }}" class="thumb" itemprop="url">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		</article>

	</section>

	<section class="recent innerwrap">
	
		<article class="no_05">
			<h2><a href="{{ '/category/Family' | prepend: site.baseurl }}">family</a></h2>
			<ul class="post_box img_box">
				{% for post in site.categories.Family limit:1 %}
			 	<li><a href="{{ post.url | prepend: site.baseurl }}" class="thumb" itemprop="url" style="background:url('{{ post.image-sm }}') no-repeat center center; background-size:cover;">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		</article>

		<article class="no_06">
			<h2><a href="{{ '/category/Cheese' | prepend: site.baseurl }}">cheese</a></h2>
			<ul class="post_box img_box">
				{% for post in site.categories.Cheese limit:3 %}
			 	<li><a href="{{ post.url | prepend: site.baseurl }}" class="thumb" itemprop="url" style="background:url('{{ post.image-sm }}') no-repeat center center; background-size:cover;">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		</article>		

	</section>

	<section class="recent innerwrap">

		<article class="no_07">
			<h1>배우고 공부하고<br>새로운 기억마다</h1>
			<ul class="tag_box">
				<li><a href="{{ '/category/Study' | prepend: site.baseurl }}">study</a></li>
				<li><a href="{{ '/category/Tip' | prepend: site.baseurl }}">tip</a></li>
				<li><a href="{{ '/category/Book' | prepend: site.baseurl }}">book</a></li>
				<li><a href="{{ '/category/Movie' | prepend: site.baseurl }}">movie</a></li>
			</ul>
		</article>

		<article class="no_08">
			<h2><a href="{{ '/category/Designer' | prepend: site.baseurl }}">designer</a></h2>
			<ul class="post_box">
				{% for post in site.categories.Designer limit:7 %}
			 	<li><a href="{{ post.url | prepend: site.baseurl }}" class="thumb" itemprop="url">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		</article>

		<article class="no_09">
			<h2><a href="{{ '/category/Publisher' | prepend: site.baseurl }}">publisher</a></h2>
			<ul class="post_box">
				{% for post in site.categories.Publisher limit:7 %}
			 	<li><a href="{{ post.url | prepend: site.baseurl }}" class="thumb" itemprop="url">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		</article>

		<article class="no_10">
			<h2><a href="{{ '/category/Handicraft' | prepend: site.baseurl }}">handicrafts</a></h2>
			<ul class="post_box">
				{% for post in site.categories.Handicraft limit:7 %}
			 	<li><a href="{{ post.url | prepend: site.baseurl }}" class="thumb" itemprop="url">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		</article>

	</section>

	<section class="recent innerwrap">

		<div class="logo_wrap innerwrap"><div><a href="{{ '/category/Photo' | prepend: site.baseurl }}">photograph</a></div></div>
	
		<article class="no_11">
			<ul class="post_box img_box">
				{% for post in site.categories.Photo limit:6 %}
			 	<li><a href="{{ post.url | prepend: site.baseurl }}" class="thumb" itemprop="url" style="background:url('{{ post.image-sm }}') no-repeat center center; background-size:cover;"><span class="title">{{ post.title }}</span></a></li>
				{% endfor %}
			</ul>
		</article>		

	</section>
	
</div>
