---
layout: default
---

<div class="main innerwrap">
	

	<div class="banner_wrap">
		<span class="overay left"></span>
		<div class="main_banner">
			{% for post in site.categories.MainPost limit:20 %}
		 	<div>
		 	<a href="{{ post.url | prepend: site.baseurl }}" class="image fit thumb" itemprop="url">
		 		<img src="{{ post.image-sm }}" alt="post image" />
		 		<dl>
			  	   	<dt class="header" itemprop="name">{{ post.title }}</dt>
					<dd class="excerpt" itemprop="description">{{ post.description }}</dd> 
					<dd class="date" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y %-m %-d" }}</dd>
		 		</dl>
			</a>	
			</div>
			{% endfor %}
		</div>
		<span class="overay right"></span>
	</div>
	
	<div class="logo_wrap innerwrap"><div><img src="{{ site.baseurl }}/images/logo_s.png" alt="" /></div></div>


	<section class="recent innerwrap">
	
		<article class="no_01">
			<h1>소중한 오늘하루<br>새로운 순간마다</h1>
			<ul class="tag_box">
				<li><a href="/category/Diary/">diary</a></li>
				<li><a href="/category/Food/">food</a></li>
				<li><a href="/category/Date/">date</a></li>
				<li><a href="/category/Play/">play</a></li>
			</ul>
		</article>

		<article class="no_02">
			<h2><a href="/category/Memory/">memory</a></h2>
			<ul class="post_box">
				{% for post in site.categories.Memory limit:7 %}
			 	<li><a href="{{ post.url | prepend: site.baseurl }}" class="image fit thumb" itemprop="url">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		</article>

		<article class="no_03">
			<h2><a href="/category/Moment/">moment</a></h2>
			<ul class="post_box img_box">
				{% for post in site.categories.Moment limit:1 %}
			 	<li><a href="{{ post.url | prepend: site.baseurl }}" class="image fit thumb" itemprop="url" style="background:url('{{ post.image-sm }}') no-repeat center center; background-size:cover;">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		</article>

		<article class="no_04">
			<h2><a href="/category/Review/">review</a></h2>
			<ul class="post_box">
				{% for post in site.categories.Review limit:7 %}
			 	<li><a href="{{ post.url | prepend: site.baseurl }}" class="image fit thumb" itemprop="url">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		</article>

	</section>

	<section class="recent innerwrap">
	
		<article class="no_05">
			<h2><a href="/category/Family/">family</a></h2>
			<ul class="post_box img_box">
				{% for post in site.categories.Moment limit:1 %}
			 	<li><a href="{{ post.url | prepend: site.baseurl }}" class="image fit thumb" itemprop="url" style="background:url('{{ post.image-sm }}') no-repeat center center; background-size:cover;">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		</article>

		<article class="no_06">
			<h2><a href="/category/Cheese/">cheese</a></h2>
			<ul class="post_box img_box">
				{% for post in site.categories.Moment limit:3 %}
			 	<li><a href="{{ post.url | prepend: site.baseurl }}" class="image fit thumb" itemprop="url" style="background:url('{{ post.image-sm }}') no-repeat center center; background-size:cover;">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		</article>		

	</section>
		







<!-- Two
<section id="two">
		<h2>Recent Work</h2>
		<div class="post_row">
			{% for post in paginator.posts %}
			<article class="6u 12u$(xsmall) preview" itemprop="blogPost">
				<a href="{{ post.url | prepend: site.baseurl }}" class="image fit thumb" itemprop="url"><img src="{{ post.image-sm }}" alt="" /></a>
				<a href="{{ post.url | prepend: site.baseurl }}" class="txt" itemprop="url">					
					<h3 class="preview__header" itemprop="name">{{ post.title }}</h3>
					<p class="preview__date" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y년 %-m월부터 약 %-d개월 이내 완료" }}</p>
					<p class="preview__excerpt" itemprop="description">{{ post.description }}</p> 
				</a>
				<ul class="preview__category">
					{% for categories in post.categories %}
						<li><a href="/category/{{ categories }}/"># {{ categories }}</a> </li>	    
					{% endfor %}
				</ul>
			</article>
			{% endfor %}					
		</div>
	</section>					
</div>		-->
</div>