	<div class="banner_wrap">
		<span class="overay left"></span>
		<div class="main_banner">
			{% for post in site.tags.MainPost limit:20 %}
		 	<div>
		 	<a href="{{ post.url | prepend: site.baseurl }}" class="image fit thumb" itemprop="url">
		 		<img src="{{ post.image-s }}" alt="post image" />
		 		<dl>
			  	   	<dt class="title" itemprop="name">{{ post.title }}</dt>
					<dd class="excerpt" itemprop="description">{{ post.description }}</dd> 
					<dd class="date" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y. %-m. %-d." }}</dd>
		 		</dl>
			</a>	
			</div>
			{% endfor %}
		</div>
		<span class="overay right"></span>
	</div>
	