<div class="main innerwrap">
    
  {% include banner.html %}

  <section class="recent innerwrap">
  
    <article class="category_wrap">

      <div class="logo_wrap innerwrap"><div><span>{{ page.title }}</span></div></div>
    
      <ul class="post_box img_box">
        {% for post in site.categories[page.title] %}
        <li>
            <a href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
              <span style="background:url('{{ post.image-sm }}') no-repeat center center; background-size:cover;" class="thumb">포스트이미지</span>
              <span class="title" itemprop="name">{{ post.title }}</span>
              <span class="excerpt" itemprop="description">{{ post.description }}</span> 
              <span class="date" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y %-m %-d" }}</span>           
            </a>
            <ul class="tag_box">
                {% for categories in post.categories %}
                  <li><a href="/category/{{ categories }}/"># {{ categories }}</a> </li>      
                {% endfor %}
            </ul>
        </li>    
        {% endfor %} 
      </ul>
    </article>

  </section>

  
</div>


