	<head>
		<title>{% if page.title %}{{ page.title | escape }} | {{ site.title }}{% else %}{{ site.title | escape }}{% endif %}</title>

  		{% include meta.html %}
		
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{ '/assets/css/reset.css' | prepend: site.baseurl }}">
		<link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">
		<link rel="stylesheet" href="{{ '/assets/css/media.css' | prepend: site.baseurl }}">
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<link rel="stylesheet" type="text/css" href="{{ '/assets/css/slick.css' | prepend: site.baseurl }}"/>
  		<link rel="stylesheet" type="text/css" href="{{ '/assets/css/slick-theme.css' | prepend: site.baseurl }}"/>

		<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">
		<link rel="canonical" href="{{ page.url | replace: 'index.html', '' | prepend: site.baseurl | prepend: site.url }}">
	</head>
	<body id="top">
		<!-- Header -->
			<div class="header_bg">
			<header id="header">
				<a href="{{ site.baseurl }}" class="image avatar"><img src="{{ site.baseurl }}/images/logo.png" alt="" /></a>				
				<ul>					
					<li><a href="{{ '/category/Diary' | prepend: site.baseurl }}">일기</a></li>
					<li><a href="{{ '/category/Cheese' | prepend: site.baseurl }}">치즈</a></li>
					<li><a href="{{ '/category/Family' | prepend: site.baseurl }}">가족</a></li>
					<li><a href="{{ '/category/Moment' | prepend: site.baseurl }}">순간</a></li>
					<li><a href="{{ '/category/Memory' | prepend: site.baseurl }}">기억</a></li>
					<li><a href="{{ '/category/Book' | prepend: site.baseurl }}">책</a></li>
					<li><a href="{{ '/category/Designer' | prepend: site.baseurl }}">디자이너</a></li>
					<li><a href="{{ '/category/Publisher' | prepend: site.baseurl }}">퍼블리셔</a></li>
					<li><a href="{{ '/category/HTML,CSS' | prepend: site.baseurl }}">HTML,CSS</a></li>
					<li><a href="{{ '/category/JS,Jquery' | prepend: site.baseurl }}">JS,Jquery</a></li>
					<li><a href="{{ '/category/Wordpress' | prepend: site.baseurl }}">워드프레스</a></li>
					<li><a href="{{ '/category/Gitpage' | prepend: site.baseurl }}">깃페이지</a></li>
					<li><a href="{{ '/category/Marketing' | prepend: site.baseurl }}">마케팅</a></li>
					<li><a href="{{ '/category/Handicraft' | prepend: site.baseurl }}">만들기</a></li>
					<li><a href="{{ '/category/Study' | prepend: site.baseurl }}">공부</a></li>
				</ul>
				<ul>
					<li><a href="{{ '/category/Date' | prepend: site.baseurl }}">데이트</a></li>
					<li><a href="{{ '/category/Travel' | prepend: site.baseurl }}">여행</a></li>
					<li><a href="{{ '/category/Food' | prepend: site.baseurl }}">맛집</a></li>
					<li><a href="{{ '/category/Play' | prepend: site.baseurl }}">놀기</a></li>
					<li><a href="{{ '/category/See' | prepend: site.baseurl }}">보기</a></li>						
					<li><a href="{{ '/category/Movie' | prepend: site.baseurl }}">영화</a></li>
					<li><a href="{{ '/category/Photo' | prepend: site.baseurl }}">사진</a></li>
					<li><a href="{{ '/category/Review' | prepend: site.baseurl }}">쇼핑,리뷰</a></li>
					<li><a href="{{ '/category/Diet' | prepend: site.baseurl }}">다이어트</a></li>
					<li><a href="{{ '/category/Tip' | prepend: site.baseurl }}">유용한정보</a></li>
					<li><a href="{{ '/category/ETC' | prepend: site.baseurl }}">잡동사니</a></li>
				</ul>
				{% include footer.html %}
			</header>
			</div>

			