<!-- menu -->
<menu id="menu">
	<h1>하루</h1>
	<ul class="tag_box">
		<li><a href="{{ '/category/Date' | prepend: site.baseurl }}">데이트</a></li>
		<li><a href="{{ '/category/Travel' | prepend: site.baseurl }}">여행</a></li>
		<li><a href="{{ '/category/Food' | prepend: site.baseurl }}">맛집</a></li>
		<li><a href="{{ '/category/Play' | prepend: site.baseurl }}">놀기</a></li>
		<li><a href="{{ '/category/See' | prepend: site.baseurl }}">보기</a></li>						
		<li><a href="{{ '/category/Movie' | prepend: site.baseurl }}">영화</a></li>
		<li><a href="{{ '/category/Photo' | prepend: site.baseurl }}">사진</a></li>
		<li><a href="{{ '/category/Review' | prepend: site.baseurl }}">쇼핑,리뷰</a></li>
		<li><a href="{{ '/category/Tip' | prepend: site.baseurl }}">유용한정보</a></li>
		<li><a href="{{ '/category/ETC' | prepend: site.baseurl }}">잡동사니</a></li>
	</ul>
	<h1>기억</h1>
	<ul class="tag_box">					
		<li><a href="{{ '/category/Diary' | prepend: site.baseurl }}">일기</a></li>
		<li><a href="{{ '/category/Cheese' | prepend: site.baseurl }}">치즈</a></li>
		<li><a href="{{ '/category/Family' | prepend: site.baseurl }}">가족</a></li>
		<li><a href="{{ '/category/Moment' | prepend: site.baseurl }}">순간</a></li>
		<li><a href="{{ '/category/Memory' | prepend: site.baseurl }}">기억</a></li>
		<li><a href="{{ '/category/Book' | prepend: site.baseurl }}">책</a></li>
		<li><a href="{{ '/category/Handicraft' | prepend: site.baseurl }}">만들기</a></li>
	</ul>
	<h1>공부</h1>
	<ul>		
		<li><a href="{{ '/category/Study' | prepend: site.baseurl }}">공부</a></li>
		<li><a href="{{ '/category/Designer' | prepend: site.baseurl }}">디자이너</a></li>
		<li><a href="{{ '/category/Publisher' | prepend: site.baseurl }}">퍼블리셔</a></li>
		<li><a href="{{ '/category/Publisher' | prepend: site.baseurl }}">HTML,CSS</a></li>
		<li><a href="{{ '/category/Publisher' | prepend: site.baseurl }}">JS,Jquery</a></li>
		<li><a href="{{ '/category/Publisher' | prepend: site.baseurl }}">Marketing</a></li>
		<li><a href="{{ '/category/Publisher' | prepend: site.baseurl }}">Wordpress</a></li>
		<li><a href="{{ '/category/Publisher' | prepend: site.baseurl }}">GitPage</a></li>		
	</ul>
</menu>