@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");

/* common */
.innerwrap { display:table; margin:0 auto; width:1020px; height:auto; }
.mobile { display:none; }

/* header */
#header { position:fixed; top:0; left:0; display:block; padding:60px 30px 0; width:260px; height:100%; background-color:rgba(255,255,255,0.9); text-align:center;  }
#header .avatar { float:left; width:75%; height:auto; }
#header ul { margin-top:80px; float:left; width:50%; height:auto; }
#header ul li { display:inline-block; float:left; width:100%; height:auto; line-height:24px; color:#888; font-size:13px; text-align:left; }
#header ul li a { width:100%; height:auto; text-indent:10px; }
#header #footer { position:absolute; bottom:30px; left:0; display:inline-block; width:100%; height:auto; text-align:center; } 
#header #footer ul { display:inline-block; width:100%; }
#header #footer ul li { display:inline; float:none; width:auto; text-align:center; } 

/* heder > sidemenu */
.header_bg { position:fixed; top:0; left:0; bottom:0; width:auto; height:100%; z-index:900; }
#header.sidemenu {  }

/* footer_button */
.footer_btn { position:fixed; display:block; bottom:80px; width:43px; height:43px; text-indent:-100000px; font-size:0; cursor:pointer; opacity:0.7; filter:alpha(opacity=60); -webkit-border-radius:30px; -moz-border-radius:30px; -o-border-radius:30px; border-radius:20px; -webkit-transition:all .25s linear; -moz-transition:all .25s linear; -o-transition:all .25s linear; transition:all .25s linear;  z-index:10; }
.btn_top { display:none; left:50%; bottom:130px; margin-left:43%; background:url('../../images/btn_top.png') no-repeat 0 0; }
.btn_home { left:50%; margin-left:43%; background:url('../../images/btn_home.png') no-repeat 0 0; }
.btn_menu { display:none; right:50%; margin-right:43%;  background:url('../../images/btn_menu.png') no-repeat 0 0; }	
.footer_btn:hover { opacity:1; }

/* content */
#content { display:inline-block; padding-left:260px; padding-bottom:100px; width:100%; min-height:100%; height:auto; background-color:#e5e5e5; }

/* main_banner */
.banner_wrap { position:relative; margin-top:50px; width:100%; height:auto; }
.main_banner { position:relative; width:100%; height:auto; }
.banner_wrap .overay { position:absolute; top:0; display:block; width:120px; height:100%; z-index:10; background-color:rgba(255,255,255,0.5); }
.banner_wrap .overay.left { left:0; }
.banner_wrap .overay.right { right:0; }
.main_banner .slick-prev, .main_banner .slick-next { top:50%; font-size:0; z-index:50; }
.main_banner .slick-prev { left:20px; }
.main_banner .slick-next { right:20px; }
.main_banner .slick-slide { position:relative; display:inline-flex !important; height:auto; overflow:hidden; }
.main_banner .slick-slide a { width:100%; height:auto; }
.main_banner .slick-slide a img { width:100%; height:auto; }
.main_banner .slick-slide dl { position:absolute; top:0; left:0; display:block; padding:30% 10%; width:100%; background-color:rgba(0,0,0,0.4); line-height:normal; z-index:11 }
.main_banner .slick-slide a:hover dl { background-color:rgba(0,0,0,0.3); }
.main_banner .slick-slide dl dt { display:inline-block; width:100%; height:auto; max-height:50px; font-size:20px; color:#fff; text-align:center; text-shadow:1px 1px 6px rgba(0,0,0,0.8);
    overflow:hidden; }
.main_banner .slick-slide dl dd.excerpt { display:inline-block; margin-top:25px; width:100%; height:auto; font-size:13px; color:#fff; text-align:center;  text-shadow:1px 1px 6px rgba(0,0,0,0.8); }
.main_banner .slick-slide dl dd.date { display:inline-block; margin-top:30px; width:100%; height:auto; font-size:11px; color:#fff; text-align:center; text-shadow:1px 1px 6px rgba(0,0,0,0.8); }

.logo_wrap { margin:40px auto 0; background:url(../../images/line_bg.gif) repeat-x center center; }
.logo_wrap > div { display:table; margin:0 auto; padding:0 20px 0 30px; width:auto; height:auto; background-color:#e5e5e5; }
.logo_wrap > div img { width:130px; height:auto; }
.logo_wrap > div a, .logo_wrap > div span { font-size:16px; letter-spacing:10px; color:#888; }

.recent { margin-top:40px; height:340px; }
.recent article { float:left; padding:15px; width:25%; height:100%; background-color:#fff; border-left:1px solid #e5e5e5; border-right:1px solid #e5e5e5; }
.recent article.no_01, .recent article.no_04 { margin-left:0; }
.recent article h1 { margin-top:55px; width:100%; height:auto; font-size:20px; text-align:center; color:#444; }
.recent article h1 > span { display:none; }
.recent article h2 { margin-top:10px; width:100%; height:auto; font-size:13px; text-align:center; color:#888; letter-spacing:7px; }
.recent article ul.tag_box { display:table; margin:30px auto 0; width:60%; height:auto; text-align:center; }
.recent article ul.tag_box li { display:inline-block; float:left; width:50%; font-size:13px; color:#888; text-align:center; letter-spacing:2px; }
.recent article ul.tag_box li:before { float:left; margin-right:2px; font-size:13px; color:#888; content:'#'; }
.recent article ul.tag_box li a { float:left; }
.recent article ul.post_box { margin-top:25px; width:100%; height:auto; }
.recent article ul.post_box.img_box { display:block; margin-top:20px; padding-bottom:0; }
.recent article ul.post_box li { display:inline-block; padding:7px 0; width:100%; height:auto; list-style:disc outside url('../../images/list_dot.gif'); color:#888; font-size:13px; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; }
.recent article ul.post_box li a { width:100%; height:auto; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; }
.recent article ul.post_box li a > br { display:none; }
.recent article ul.post_box.img_box li { padding:0; }
.recent article ul.post_box.img_box li a { position:relative; display:block; width:100%; height:255px; font-size:0; text-align:center; }
.recent article ul.post_box.img_box li .thumb:before { -moz-transition:opacity 0.2s ease-in-out; -webkit-transition:opacity 0.2s ease-in-out; -ms-transition:opacity 0.2s ease-in-out; transition:opacity 0.2s ease-in-out; border-radius:0.35em; content:''; display:block; height:100%; left:0; opacity:0.5; position:absolute; top:0;	width:100%; }
.recent article ul.post_box.img_box li .thumb:after { -moz-transition:opacity 0.2s ease-in-out; -webkit-transition:opacity 0.2s ease-in-out; -ms-transition:opacity 0.2s ease-in-out; transition:opacity 0.2s ease-in-out; border-radius:0.35em; border:solid 3px rgba(255, 255, 255, 0.5); color:#fff; content:'View'; display:inline-block; font-size:0.8em;	font-weight:400; left:50%; line-height:2.25em; margin:-1.25em 0 0 -3em; opacity:0; padding:0 1.5em; position:absolute; text-align:center; text-decoration:none; top:50%; white-space:nowrap; font-size:13px; letter-spacing:2px; }
.recent article ul.post_box.img_box li:hover a { -moz-transition:opacity 0.2s ease-in-out; -webkit-transition:opacity 0.2s ease-in-out; -ms-transition:opacity 0.2s ease-in-out; transition:opacity 0.2s ease-in-out; }
.recent article ul.post_box.img_box li:hover .thumb:after { opacity:1; }
.recent article ul.post_box.img_box li:hover .thumb:before { background-color:rgba(0,0,0,0.5); opacity:0.4;	}
.recent article ul.post_box li a > br { display:none; }

.recent article.no_06 { padding-left:0; padding-right:0; width:75%; }
.recent article.no_06 ul.post_box li, .recent article.no_03.mobile ul.post_box li, .recent article.no_05.mobile ul.post_box li { float:left; padding-left:2%; padding-right:2%; width:33.3333%; border-right:1px dashed #e5e5e5; }
.recent article.no_06 ul.post_box li:last { border-right:0; }
.recent article.no_12 { padding:0; width:100%; background:transparent; }
.recent article.no_12 ul.post_box.img_box { margin-top:40px; }
.recent article.no_12 ul.post_box li { float:left; padding:1%; width:33.3333%; height:auto; }
.recent article.no_12 ul.post_box.img_box li a { position:relative; height:340px; }
.recent article.no_12 ul.post_box.img_box li span.title { position:absolute; left:3%; bottom:3%; padding:4%; width:94%; height:auto; background-color:rgba(255,255,255,0.8); font-size:13px; font-weight:bold; color:#666; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; border-radius:3px; }
.recent article.no_12 ul.post_box.img_box li:hover span.title { opacity:0.5; }
.recent article.no_12 ul.post_box.img_box li span.title > br { display:none; }

.recent article.category_wrap { padding:0; width:100%; background-color:transparent; }
.recent article.category_wrap .logo_wrap { margin-top:0; }
.recent article.category_wrap ul.post_box.img_box li { float:left; padding:15px; margin-top:5px; width:25%; height:100%; background-color:rgba(255,255,255,0.9); border-left:2.5px solid #e5e5e5; border-right:2.5px solid #e5e5e5; }
.recent article.category_wrap ul.post_box.img_box li a { position:relative; display:inline-block; width:100%; height:auto; font-size:13px; text-align:left; }
.recent article.category_wrap ul.post_box.img_box li a span { display:inline-block; float:left; margin-top:5px; width:100%; height:auto; white-space:normal; }
.recent article.category_wrap ul.post_box.img_box li a span.thumb { position:relative; display:block; margin:0; height:255px; font-size:0; text-align:center;}
.recent article.category_wrap ul.post_box.img_box li a span.title { display:block; margin-top:15px; width:100%; height:auto; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; }
.recent article.category_wrap ul.post_box.img_box li a span.title > br { display:none; }
.recent article.category_wrap ul.post_box.img_box li ul.tag_box { display:inline-block; float:left; clear:both; margin:5px 0 0 0; width:100%; height:48px; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; }
.recent article.category_wrap ul.post_box.img_box li ul.tag_box li { display:inline-flex; margin:4px 4px 0 0; padding:0 5px 3px; width:initial; height:initial; border:0; border-radius:3px; list-style:none; text-overflow:clip; font-size:11px; border:1px solid #ddd; }
.recent article.category_wrap ul.tag_box li:before { margin-right:0; font-size:11px; }
.recent article.category_wrap ul.post_box.img_box li ul.tag_box li a { font-size:10px; }
.recent article.category_wrap ul.post_box.img_box li ul.tag_box li:hover:before, .recent article.category_wrap ul.post_box.img_box li ul.tag_box li:hover a { color:#3bb9c4; }


/* Post Layout */
.post_head { position:relative; width:100%; height:364px; }
.post_head .btn_wrap { position:absolute; top:0; width:calc( (100% - 1020px)/2 ); height:100%; color:#fff; background-color:rgba(0,0,0,0.3); }
.post_head .btn_wrap.preview { left:0; }
.post_head .btn_wrap.next { right:0; }
.post_head .btn_wrap a { display:block; width:100%; height:100%; }
.post_head .btn_wrap a:hover { color:#fff; }
.post_head .overay { position:absolute; top:0; left:0; right:0; display:inline-flex; width:100%; height:100%; z-index:0; background-color:rgba(0,0,0,0.3); }
.post_head .txt { position:absolute; top:190px; width:100%; text-align:center; font-size:14px; }
.post_head .preview:hover .overay, .post_head .next:hover .overay { background-color:rgba(0,0,0,0.2); }
.post_head .preview a:before { position:absolute; top:120px; display:block; width:100%; height:auto; content:url(../../images/icon_left_white.png); text-align:center; z-index:1; }
.post_head .next a:before { position:absolute; top:120px; display:block; width:100%; height:auto; content:url(../../images/icon_right_white.png); text-align:center; z-index:1; }
.post_head .center { position:relative; height:100%; text-align:center; }
.post_head .center dl { position:absolute; top:120px; left:5%; width:90%; height:auto; color:#fff; text-shadow:1px 1px 6px rgba(0,0,0,0.8); z-index:1; }
.post_head .center dl dt > br { display:none; }
.post_head .center dl dt { margin-bottom:15px; font-size:24px; font-weight:400; }
.post_head .center dl dd.date { margin-top:20px; letter-spacing:1px; }

section.post { background-color:#fff; padding:7%; }
article.post_wrap { color:#444; font-size:14px; }
article.post_wrap * { letter-spacing:0; }
article.post_wrap h1 { margin:30px 0; font-size:26px; font-weight:bold; text-align:center; }
article.post_wrap h2 { margin:20px 0 10px; font-size:20px; font-weight:bold; }
article.post_wrap h3 { margin:10px 0; font-size:15px; color:#888; }
article.post_wrap p { margin:10px 0;  font-size:inherit; }
article.post_wrap blockquote { margin:30px 0; font-size:inherit; text-align:center; }
article.post_wrap blockquote p { margin:15px 0 20px; font-size:inherit; text-align:center; font-size:24px; color:#888; }
article.post_wrap blockquote:before { width:100%; height:auto; text-align:center; content:url(../../images/blockquote_before.png); }
article.post_wrap blockquote:after { width:100%; height:auto; text-align:center; content:url(../../images/blockquote_after.png); }
article.post_wrap ol { list-style:inherit; list-style-type:decimal; font-size:inherit;  list-style-position:inside;
 }
article.post_wrap ul { font-size:inherit; font-weight:inherit; color:inherit; }
article.post_wrap ol li, article.post_wrap ul li { font-size:inherit; font-weight:inherit; color:inherit; }
article.post_wrap ul li:before { content:"- "; }
article.post_wrap .highlighter-rouge { display:table; margin:30px auto; padding:15px 20px; color:#777; width:100%; height:auto; background:#EBEBEB;  font-size:inherit; border-radius:5px; }
article.post_wrap .highlighter-rouge code { letter-spacing:0; font-size:inherit; }
article.post_wrap hr { margin:30px 0; border:0; border-top:1px dashed #ddd; }
article.post_wrap em { font-style:italic; }
article.post_wrap strong { font-weight:bold; }
article.post_wrap img { display:block; margin:30px auto; max-width:80%; width:auto; height:auto; }
article.post_wrap a { text-decoration:underline; }

.post .tag_box { display:inline-block; margin-top:7%; padding:30px 0 35px; width:100%; height:auto; border-top:1px dashed #ddd; }
.post .tag_box li { display:inline-block; margin:6px 0 0 0; padding:0 5px 3px; width:initial; height:initial; border:0; border-radius:3px; list-style:none; text-overflow:clip; font-size:11px; border:1px solid #ddd; color:#888; letter-spacing:2px; }
.post .tag_box li:before { content:"#"; font-size:11px; }
.post .tag_box li a { font-size:10px; }
.post .tag_box li:hover:before, .post .tag_box li:hover a { color:#3bb9c4; }

.post .link_box { display:inline-block; padding-top:30px; width:100%; height:auto; border-top:1px dashed #ddd; }
.post .link_box li { color:#444; font-size:13px; }
.post .link_box li.first { margin-bottom:10px; }
.post .link_box li:before { content:"- "; color:#444; font-size:14px; }
.post .link_box li.first:before { content:"" }

.post_footer { position:relative; height:182px;}
.post_footer .btn_wrap { position:relative; float:left; width:50%; height:100%; text-align:center; color:#fff; color:#fff; background-color:rgba(0,0,0,0.3); }
.post_footer .btn_wrap a { display:block; width:100%; height:100%; }
.post_footer .btn_wrap a:hover { color:#fff; }
.post_footer .overay { position:absolute; top:0; display:block; width:100%; height:100%; z-index:0; background-color:rgba(0,0,0,0.3); z-index:0; }
.post_footer .txt { position:absolute; top:50px; left:0; width:100%; text-align:center; z-index:1; font-size:14px; text-shadow:1px 1px 6px rgba(0,0,0,0.8); }
.post_footer .title { position:absolute; top:80px; left:0; padding:0 10%; width:100%; text-align:center; z-index:1; font-size:18px; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; text-shadow:1px 1px 6px rgba(0,0,0,0.8); }
.post_footer .preview:hover .overay, .post_footer .next:hover .overay { background-color:rgba(0,0,0,0.2); }
.post_footer > a br { display:none; }



			

			
