@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");

/* header */
#header { position:fixed; top:0; left:0; display:block; padding:60px 30px 0; width:260px; height:100%; background-color:rgba(255,255,255,0.9); text-align:center; z-index:900; }
#header .avatar { width:100%; height:auto; }
#header ul { margin-top:80px; width:100%; height:auto; }
#header ul li { display:inline-block; float:left; width:50%; height:auto; line-height:24px; color:#888; font-size:13px; text-align:left; }
#header ul li a { width:100%; height:auto; text-indent:10px; }
#header #footer { position:absolute; bottom:30px; left:0; display:inline-block; width:100%; height:auto; text-align:center; } 
#header #footer ul { display:inline-block; }
#header #footer ul li { display:inline; width:auto; } 

/* content */
#content { display:inline-block; padding-left:260px; width:100%; min-height:100%; height:auto; }

/* main */
.main.innerwrap { display:inline-block; width:100%; min-height:100%; height:auto; background-color:#e5e5e5; }

/* main_banner */
.main .banner_wrap,
.main .main_banner { position:relative; margin-top:50px; width:100%; height:auto; }
.main .banner_wrap .overay { position:absolute; top:0; display:block; width:120px; height:100%; z-index:10; background-color:rgba(255,255,255,0.5); }
.main .banner_wrap .overay.left { left:0; }
.main .banner_wrap .overay.right { right:0; }
.main .main_banner .slick-prev, .main .main_banner .slick-next { top:170px; font-size:0; z-index:50; }
.main .main_banner .slick-prev { left:20px; }
.main .main_banner .slick-next { right:20px; }
.main .main_banner .slick-slide { position:relative; height:350px; }
.main .main_banner .slick-slide a { height:100%; }
.main .main_banner .slick-slide a img { width:100%; height:auto; }
.main .main_banner .slick-slide dl { position:absolute; top:0; left:0; display:block; padding:30% 10%; width:100%; height:100%; background-color:rgba(0,0,0,0.4); line-height:normal; z-index:11 }
.main .main_banner .slick-slide a:hover dl { background-color:rgba(0,0,0,0.3); }
.main .main_banner .slick-slide dl dt { display:inline-block; width:100%; height:auto; font-size:20px; color:#fff; text-align:center; }
.main .main_banner .slick-slide dl dd.excerpt { display:inline-block; margin-top:25px; width:100%; height:auto; font-size:13px; color:#fff; text-align:center; }
.main .main_banner .slick-slide dl dd.date { display:inline-block; margin-top:30px; width:100%; height:auto; font-size:11px; color:#fff; text-align:center; }
