---
layout: default
---


    <div class="post_head">
      <div class="btn_wrap preview">
        {% if page.previous.url %}        
          <a  href="{{page.previous.url | prepend: site.baseurl }}" style="background:url({{ page.previous.image-t }}) no-repeat center center; background-size:cover;"><span class="overay"></span><span class="txt">이전글</span></a>
        {% endif %}
      </div>

      <div class="center innerwrap" style="background:url({{ page.image-t }}) no-repeat center center; background-size:cover;">
        <span class="overay"></span>
        <dl>
          <dt class="title">{{ page.title }}</dt>
          <dd class="excerpt" class="date">{{ page.description }}</dd>
          <dd class="date">{{ page.date | date: "%Y. %-m. %-d." }}</dd>
        </dl>
      </div>

      <div class="btn_wrap next">
        {% if page.next.url %}
          <a  href="{{page.next.url | prepend: site.baseurl }}" style="background:url({{ page.next.image-t }}) no-repeat center center; background-size:cover;"><span class="overay"></span><span class="txt">다음글</span></a>
        {% endif %}
      </div>
    </div>

  <section class="post innerwrap">
    <article class="post_wrap">
      {{ content }}
    </article>
  
    <ul class="tag_box">
        {% for categories in page.categories %}
          <li><a href="{{ site.baseurl }}/category/{{ categories }}">{{ categories }}</a></li>      
        {% endfor %}
    </ul> 

    <ul class="link_box">
      <li class="first">[참고]</li>
      {% if page.link %}
        {% for link in page.link %}
          <li>{{ link }}</li>
        {% endfor %}
      {% endif %}
    </ul>    
  </section>

  <div class="post_footer innerwrap">
      {% if page.previous.url %}
      <a  href="{{page.previous.url | prepend: site.baseurl }}" class="preview" style="background:url({{ page.previous.image-t }}) no-repeat center center; background-size:cover;"><span class="overay"></span><span class="txt">이전글</span><span class="title">{{ page.previous.title }}</span></a>   
      {% endif %}   

      {% if page.next.url %}
      <a  href="{{page.next.url | prepend: site.baseurl }}" class="next" style="background:url({{ page.next.image-t }}) no-repeat center center; background-size:cover;"><span class="overay"></span><span class="txt">다음글</span><span class="title">{{ page.next.title }}</span></a>  
      {% endif %}
  </div>

  <section class="recent innerwrap">
    <article class="category_wrap">

      <div class="logo_wrap innerwrap"><div><span>Recent Post</span></div></div>
    
      <ul class="post_box img_box">
        {% for post in site.posts limit:4 %}
        <li>
            <a href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
              <span style="background:url('{{ post.image-s }}') no-repeat center center; background-size:cover;" class="thumb">포스트이미지</span>
              <span class="title" itemprop="name">{{ post.title }}</span>
              <span class="date" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">- {{ post.date | date: "%Y년 %-m월 %-d일" }}</span>           
            </a>
            <ul class="tag_box">
                {% for categories in post.categories limit:5 %}
                  <li><a href="{{ site.baseurl }}/category/{{ categories }}">{{ categories }}</a> </li>      
                {% endfor %}
            </ul>
        </li>    
        {% endfor %} 
      </ul>
    </article>  
  </section>

